<html>

<head>
    <meta charset="UTF-8">
</head>


<body class="formu_confirmacion">
    <form class="row g-4 inscripciones" action="/confirmacion" method="post">
        <h6> Este es el formulario de inscripción para el grupo Confirmación de jovenes y adultos.
        </h6>
        <h3>Si estas entre 1° y 5° año completar la siguiente Información</h3>
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="nombre" class="form-control" id="nombre" name="nombre">
            <input type="text" aria-label="apellido" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="input-group">
            <span class="input-group-text">Edad</span>
            <input type="text" aria-label="edad" class="form-control" id="edad" name="edad">

        </div>
        <div class="input-group">
            <span class="input-group-text">Colegio</span>
            <input type="text" aria-label="colegio" class="form-control" id="colegio" name="colegio">

        </div>
        <div class="input-group">
            <span class="input-group-text">Año</span>
            <input type="text" aria-label="grado" class="form-control" id="grado" name="grado">

        </div>
        <div class="input-group">
            <span class="input-group-text">Celular</span>
            <input type="text" aria-label="celular" class="form-control" placeholder="..." name="celular" id="celular">
        </div>
        <div class="input-group">
            <span class="input-group-text">Barrio donde vivis</span>
            <input type="text" aria-label="barrio" class="form-control" id="barrio" name="barrio">
        </div>
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="email" aria-label="email" class="form-control" id="email" placeholder="example@gmail.com"
                name="email">
        </div>

        <h3>Completa esta Información para Confirmación de adultos</h3>
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="nombre" class="form-control" id="nombre" name="nombre">
            <input type="text" aria-label="apellido" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="input-group">
            <span class="input-group-text">Celular</span>
            <input type="text" aria-label="celular" class="form-control" placeholder="..." name="celular" id="celular">
        </div>
        <div class="input-group">
            <span class="input-group-text">Barrio donde vivis</span>
            <input type="text" aria-label="barrio" class="form-control" id="barrio" name="barrio">
        </div>
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="email" aria-label="email" class="form-control" id="email" placeholder="example@gmail.com"
                name="email">
        </div>



        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>{{message}}

</body>

</html>