<html>

<head>
    <meta charset="UTF-8">
</head>


<body class="formu_nec">
    <form class="row g-4 inscripciones" action="/nec" method="post">
        <h6> Este es el formulario de inscripción para el grupo Niños en Camino (N.E.C)
            formado por chicos y chicas de sala de 4 a 2° grado.
        </h6>
        <h3>Información del menor</h3>
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="nombre" class="form-control" id="nombre" name="nombre">
            <input type="text" aria-label="apellido" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="input-group">
            <span class="input-group-text">Edad</span>
            <input type="text" aria-label="edad" class="form-control" id="edad" name="edad">

        </div>
        <div class="input-group">
            <span class="input-group-text">Colegio</span>
            <input type="text" aria-label="colegio" class="form-control" id="colegio" name="colegio">

        </div>
        <div class="input-group">
            <span class="input-group-text">Sala/grado</span>
            <input type="text" aria-label="grado" class="form-control" id="grado" name="grado">

        </div>
        <h3>Datos de adulto responsable</h3>
        <div class="input-group">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="nombre" class="form-control" id="nombre2" name="nombre2">
            <input type="text" aria-label="apellido" class="form-control" id="apellido2" name="apellido2">
        </div>
        <div class="input-group">
            <span class="input-group-text">Celular</span>
            <input type="text" aria-label="celular" class="form-control" placeholder="..." name="celular" id="celular">
        </div>
        <div class="input-group">
            <span class="input-group-text">Parentesco</span>
            <input type="text" aria-label="parentesco" class="form-control" id="parentesco" name="parentesco">

        </div>
        <div class="input-group">
            <span class="input-group-text">Barrio donde viven</span>
            <input type="text" aria-label="barrio" class="form-control" id="barrio" name="barrio">
        </div>
        <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="email" aria-label="email" class="form-control" id="email" placeholder="example@gmail.com"
                name="email">
        </div>
        <div class="mb-2">
            <label for="formFile" class="form-label">Adjunta la ficha aca</label>
            <input class="form-control" type="file" id="formFile" name="formFile">
        </div>



        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>{{message}}

</body>

</html>